services:
  db:
    image: postgres:15
    container_name: saf_postgres_db
    environment:
      POSTGRES_DB: saf_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: